*       text=auto
*       text eol=lf
*.png   -text
*.jpg   -text
*.winmd -text
*.lib   -text
*.a     -text
*.exe   -text
*.eot   binary
*.ttf   binary
*.woff  binary
*.woff2 binary
*.dll   binary
*.pri   binary
crates/libs/reactor/public-api.txt linguist-generated=true
crates/libs/reactor/src/generated.rs linguist-generated=true
crates/libs/reactor/src/native/winui/bindings.rs linguist-generated=true
crates/libs/reactor/src/native/winui/generated.rs linguist-generated=true
