[package]
name = "sample_json_validator_winrt_client_cpp"
version = "0.0.0"
edition = "2021"
publish = false

[build-dependencies]
cc = "1.0"
cppwinrt = { workspace = true }

[dependencies]
windows-link = { workspace = true }
sample_json_validator_winrt = { path = "../json_validator_winrt" }

[lints]
workspace = true
