[package]
name = "sample_json_validator_winrt_client_cpp"
version = "0.0.0"
edition = "2021"
publish = false

[build-dependencies]
cc = "1.0"

[build-dependencies.cppwinrt]
workspace = true

[dependencies.windows-targets]
workspace = true

# The build needs the output (.dll) of the component. This causes a warning about lack of linkage target.
# Cargo doesn't understand cdylib targets. https://github.com/rust-lang/cargo/issues/7825
[dependencies.sample_json_validator_winrt]
path = "../json_validator_winrt"
