[package]
name = "sample_component_json_validator_client"
version = "0.0.0"
edition = "2021"
publish = false

[build-dependencies]
cc = "1.0"

[dependencies.windows-targets]
workspace = true

# TODO: this causes a warning about lack of linkage target. The point is to ensure that this binary dependency is built first but 
# Cargo doesn't respect cdylib targets. https://github.com/rust-lang/cargo/issues/7825
[dependencies.sample_component_json_validator]
path = "../json_validator"
