[package]
name = "sample_json_validator_client"
version = "0.0.0"
edition = "2021"
publish = false

[build-dependencies]
cc = "1.0"

[dependencies]
windows-link = { workspace = true }
sample_json_validator = { path = "../json_validator" }

[lints]
workspace = true
