[package]
name = "winrt-macros"
version = "0.7.2"
authors = ["Microsoft"]
edition = "2018"
license = "MIT"
description = "Macros for the winrt crate"

[lib]
proc-macro = true

[dependencies]
syn = "1.0"
quote = "1.0"
squote = "0.1.2"
proc-macro2 = "1.0"
cargo_toml = "0.8"
winrt-gen = { path = "../gen", version = "0.7.2" }
winmd = "0.5"
rayon = "1.3"
winrt-deps = { path = "../deps", version = "0.1" }
serde_json = "1.0"
