[package]
name = "windows_derive"
version = "0.24.0"
authors = ["Microsoft"]
edition = "2018"
license = "MIT OR Apache-2.0"
description = "Macros for the windows crate"

[lib]
proc-macro = true

[dependencies]
syn = { version = "1.0", default-features = false, features = ["parsing", "proc-macro", "printing", "full", "derive"] } # trim down?
quote = { package = "windows_quote", path = "../quote", version = "0.24.0" }
