<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

    <!--
      Temporary private nuget feed to serve up winmdgenerator 0.3.2-preview.
    -->
    <add key="4cd239bacf84" value="https://4cd239bacf84.blob.core.windows.net/nuget/index.json" protocolVersion="3" />
  </packageSources>
</configuration>