name: clippy

on:
  pull_request:
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - 'web/**'
  push:
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - 'web/**'
    branches:
      - master

jobs:
  check:
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update toolchain
        run: rustup update --no-self-update nightly && rustup default nightly-x86_64-pc-windows-msvc
      - name: Add toolchain target
        run: rustup target add x86_64-pc-windows-msvc
      - name: Install clippy
        run: rustup component add clippy
      - name: Fix environment
        uses: ./.github/actions/fix-environment
      - name: Check cppwinrt
        run:  cargo clippy -p cppwinrt
      - name: Check helpers
        run:  cargo clippy -p helpers
      - name: Check tool_bindgen
        run:  cargo clippy -p tool_bindgen
      - name: Check tool_bindings
        run:  cargo clippy -p tool_bindings
      - name: Check tool_gnu
        run:  cargo clippy -p tool_gnu
      - name: Check tool_license
        run:  cargo clippy -p tool_license
      - name: Check tool_msvc
        run:  cargo clippy -p tool_msvc
      - name: Check tool_standalone
        run:  cargo clippy -p tool_standalone
      - name: Check tool_yml
        run:  cargo clippy -p tool_yml
      - name: Check windows
        run:  cargo clippy -p windows
      - name: Check windows-bindgen
        run:  cargo clippy -p windows-bindgen
      - name: Check windows-collections
        run:  cargo clippy -p windows-collections
      - name: Check windows-core
        run:  cargo clippy -p windows-core
      - name: Check windows-future
        run:  cargo clippy -p windows-future
      - name: Check windows-implement
        run:  cargo clippy -p windows-implement
      - name: Check windows-interface
        run:  cargo clippy -p windows-interface
      - name: Check windows-link
        run:  cargo clippy -p windows-link
      - name: Check windows-numerics
        run:  cargo clippy -p windows-numerics
      - name: Check windows-registry
        run:  cargo clippy -p windows-registry
      - name: Check windows-result
        run:  cargo clippy -p windows-result
      - name: Check windows-strings
        run:  cargo clippy -p windows-strings
      - name: Check windows-sys
        run:  cargo clippy -p windows-sys
      - name: Check windows-targets
        run:  cargo clippy -p windows-targets
      - name: Check windows-version
        run:  cargo clippy -p windows-version
      - name: Check windows_aarch64_gnullvm
        run:  cargo clippy -p windows_aarch64_gnullvm
      - name: Check windows_aarch64_msvc
        run:  cargo clippy -p windows_aarch64_msvc
      - name: Check windows_i686_gnu
        run:  cargo clippy -p windows_i686_gnu
      - name: Check windows_i686_gnullvm
        run:  cargo clippy -p windows_i686_gnullvm
      - name: Check windows_i686_msvc
        run:  cargo clippy -p windows_i686_msvc
      - name: Check windows_x86_64_gnu
        run:  cargo clippy -p windows_x86_64_gnu
      - name: Check windows_x86_64_gnullvm
        run:  cargo clippy -p windows_x86_64_gnullvm
      - name: Check windows_x86_64_msvc
        run:  cargo clippy -p windows_x86_64_msvc