name: clippy

on:
  pull_request:
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - 'web/**'
  push:
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - 'web/**'
    branches:
      - master

jobs:
  check:
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update toolchain
        run: rustup update --no-self-update nightly && rustup default nightly-x86_64-pc-windows-msvc
      - name: Add toolchain target
        run: rustup target add x86_64-pc-windows-msvc
      - name: Install clippy
        run: rustup component add clippy
      - name: Fix environment
        uses: ./.github/actions/fix-environment
      - name: Check cppwinrt
        run:  cargo clippy -p cppwinrt
      - name: Check csharp_client
        run:  cargo clippy -p csharp_client
      - name: Check csharp_component
        run:  cargo clippy -p csharp_component
      - name: Check helpers
        run:  cargo clippy -p helpers
      - name: Check sample_bits
        run:  cargo clippy -p sample_bits
      - name: Check sample_com_uri
        run:  cargo clippy -p sample_com_uri
      - name: Check sample_consent
        run:  cargo clippy -p sample_consent
      - name: Check sample_core_app
        run:  cargo clippy -p sample_core_app
      - name: Check sample_counter
        run:  cargo clippy -p sample_counter
      - name: Check sample_counter_sys
        run:  cargo clippy -p sample_counter_sys
      - name: Check sample_create_window
        run:  cargo clippy -p sample_create_window
      - name: Check sample_create_window_sys
        run:  cargo clippy -p sample_create_window_sys
      - name: Check sample_credentials
        run:  cargo clippy -p sample_credentials
      - name: Check sample_data_protection
        run:  cargo clippy -p sample_data_protection
      - name: Check sample_dcomp
        run:  cargo clippy -p sample_dcomp
      - name: Check sample_delay_load
        run:  cargo clippy -p sample_delay_load
      - name: Check sample_delay_load_sys
        run:  cargo clippy -p sample_delay_load_sys
      - name: Check sample_device_watcher
        run:  cargo clippy -p sample_device_watcher
      - name: Check sample_direct2d
        run:  cargo clippy -p sample_direct2d
      - name: Check sample_direct3d12
        run:  cargo clippy -p sample_direct3d12
      - name: Check sample_enum_windows
        run:  cargo clippy -p sample_enum_windows
      - name: Check sample_enum_windows_sys
        run:  cargo clippy -p sample_enum_windows_sys
      - name: Check sample_file_dialogs
        run:  cargo clippy -p sample_file_dialogs
      - name: Check sample_json_validator
        run:  cargo clippy -p sample_json_validator
      - name: Check sample_json_validator_client
        run:  cargo clippy -p sample_json_validator_client
      - name: Check sample_json_validator_winrt
        run:  cargo clippy -p sample_json_validator_winrt
      - name: Check sample_json_validator_winrt_client
        run:  cargo clippy -p sample_json_validator_winrt_client
      - name: Check sample_json_validator_winrt_client_cpp
        run:  cargo clippy -p sample_json_validator_winrt_client_cpp
      - name: Check sample_kernel_event
        run:  cargo clippy -p sample_kernel_event
      - name: Check sample_memory_buffer
        run:  cargo clippy -p sample_memory_buffer
      - name: Check sample_message_box
        run:  cargo clippy -p sample_message_box
      - name: Check sample_message_box_sys
        run:  cargo clippy -p sample_message_box_sys
      - name: Check sample_ocr
        run:  cargo clippy -p sample_ocr
      - name: Check sample_overlapped
        run:  cargo clippy -p sample_overlapped
      - name: Check sample_privileges
        run:  cargo clippy -p sample_privileges
      - name: Check sample_privileges_sys
        run:  cargo clippy -p sample_privileges_sys
      - name: Check sample_rss
        run:  cargo clippy -p sample_rss
      - name: Check sample_service_simple
        run:  cargo clippy -p sample_service_simple
      - name: Check sample_service_sys
        run:  cargo clippy -p sample_service_sys
      - name: Check sample_service_thread
        run:  cargo clippy -p sample_service_thread
      - name: Check sample_service_time
        run:  cargo clippy -p sample_service_time
      - name: Check sample_shell
        run:  cargo clippy -p sample_shell
      - name: Check sample_simple
        run:  cargo clippy -p sample_simple
      - name: Check sample_spellchecker
        run:  cargo clippy -p sample_spellchecker
      - name: Check sample_task_dialog
        run:  cargo clippy -p sample_task_dialog
      - name: Check sample_task_dialog_sys
        run:  cargo clippy -p sample_task_dialog_sys
      - name: Check sample_thread_pool_work
        run:  cargo clippy -p sample_thread_pool_work
      - name: Check sample_thread_pool_work_sys
        run:  cargo clippy -p sample_thread_pool_work_sys
      - name: Check sample_uiautomation
        run:  cargo clippy -p sample_uiautomation
      - name: Check sample_wmi
        run:  cargo clippy -p sample_wmi
      - name: Check sample_xml
        run:  cargo clippy -p sample_xml
      - name: Check tool_bindgen
        run:  cargo clippy -p tool_bindgen
      - name: Check tool_bindings
        run:  cargo clippy -p tool_bindings
      - name: Check tool_gnu
        run:  cargo clippy -p tool_gnu
      - name: Check tool_license
        run:  cargo clippy -p tool_license
      - name: Check tool_merge
        run:  cargo clippy -p tool_merge
      - name: Check tool_msvc
        run:  cargo clippy -p tool_msvc
      - name: Check tool_standalone
        run:  cargo clippy -p tool_standalone
      - name: Check tool_test_all
        run:  cargo clippy -p tool_test_all
      - name: Check tool_workspace
        run:  cargo clippy -p tool_workspace
      - name: Check tool_yml
        run:  cargo clippy -p tool_yml
      - name: Check windows
        run:  cargo clippy -p windows
      - name: Check windows-bindgen
        run:  cargo clippy -p windows-bindgen
      - name: Check windows-collections
        run:  cargo clippy -p windows-collections
      - name: Check windows-core
        run:  cargo clippy -p windows-core
      - name: Check windows-future
        run:  cargo clippy -p windows-future
      - name: Check windows-implement
        run:  cargo clippy -p windows-implement
      - name: Check windows-interface
        run:  cargo clippy -p windows-interface
      - name: Check windows-link
        run:  cargo clippy -p windows-link
      - name: Check windows-metadata
        run:  cargo clippy -p windows-metadata
      - name: Check windows-numerics
        run:  cargo clippy -p windows-numerics
      - name: Check windows-registry
        run:  cargo clippy -p windows-registry
      - name: Check windows-result
        run:  cargo clippy -p windows-result
      - name: Check windows-services
        run:  cargo clippy -p windows-services
      - name: Check windows-strings
        run:  cargo clippy -p windows-strings
      - name: Check windows-sys
        run:  cargo clippy -p windows-sys
      - name: Check windows-targets
        run:  cargo clippy -p windows-targets
      - name: Check windows-threading
        run:  cargo clippy -p windows-threading
      - name: Check windows-version
        run:  cargo clippy -p windows-version
      - name: Check windows_aarch64_gnullvm
        run:  cargo clippy -p windows_aarch64_gnullvm
      - name: Check windows_aarch64_msvc
        run:  cargo clippy -p windows_aarch64_msvc
      - name: Check windows_i686_gnu
        run:  cargo clippy -p windows_i686_gnu
      - name: Check windows_i686_gnullvm
        run:  cargo clippy -p windows_i686_gnullvm
      - name: Check windows_i686_msvc
        run:  cargo clippy -p windows_i686_msvc
      - name: Check windows_x86_64_gnu
        run:  cargo clippy -p windows_x86_64_gnu
      - name: Check windows_x86_64_gnullvm
        run:  cargo clippy -p windows_x86_64_gnullvm
      - name: Check windows_x86_64_msvc
        run:  cargo clippy -p windows_x86_64_msvc