name: clippy

on:
  pull_request:
  push:
    branches:
      - master

env:
  RUSTFLAGS: -Dwarnings

jobs:
  cargo_clippy:
    name: Check
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Update toolchain
        run: rustup update --no-self-update nightly && rustup default nightly-x86_64-pc-windows-msvc
      - name: Install clippy
        run: rustup component add clippy
      - name: Configure environment
        shell: pwsh
        run: |
          "C:\Program Files (x86)\Windows Kits\10\bin\10.0.22000.0\x64" >> $env:GITHUB_PATH
          ((Resolve-Path "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Tools\MSVC\*\bin\Hostx64\x64")
            | Sort-Object -Descending | Select -First 1).ToString() >> $env:GITHUB_PATH
          (Join-Path $env:GITHUB_WORKSPACE "target\debug\deps").ToString() >> $env:GITHUB_PATH
          (Join-Path $env:GITHUB_WORKSPACE "target\test\debug\deps").ToString() >> $env:GITHUB_PATH
          "INCLUDE=C:\Program Files (x86)\Windows Kits\10\include\10.0.22000.0\winrt;C:\Program Files (x86)\Windows Kits\10\include\10.0.22000.0\cppwinrt" `
            >> $env:GITHUB_ENV
      - name: Run cargo clippy
        run: |
          cargo clippy -p riddle &&
          cargo clippy -p sample_bits &&
          cargo clippy -p sample_com_uri &&
          cargo clippy -p sample_consent &&
          cargo clippy -p sample_core_app &&
          cargo clippy -p sample_counter &&
          cargo clippy -p sample_counter_sys &&
          cargo clippy -p sample_create_window &&
          cargo clippy -p sample_create_window_sys &&
          cargo clippy -p sample_credentials &&
          cargo clippy -p sample_data_protection &&
          cargo clippy -p sample_dcomp &&
          cargo clippy -p sample_device_watcher &&
          cargo clippy -p sample_direct2d &&
          cargo clippy -p sample_direct3d12 &&
          cargo clippy -p sample_enum_windows &&
          cargo clippy -p sample_enum_windows_sys &&
          cargo clippy -p sample_kernel_event &&
          cargo clippy -p sample_memory_buffer &&
          cargo clippy -p sample_message_box &&
          cargo clippy -p sample_message_box_sys &&
          cargo clippy -p sample_ocr &&
          cargo clippy -p sample_overlapped &&
          cargo clippy -p sample_privileges &&
          cargo clippy -p sample_privileges_sys &&
          cargo clippy -p sample_rss &&
          cargo clippy -p sample_simple &&
          cargo clippy -p sample_spellchecker &&
          cargo clippy -p sample_thread_pool_work &&
          cargo clippy -p sample_thread_pool_work_sys &&
          cargo clippy -p sample_uiautomation &&
          cargo clippy -p sample_wmi &&
          cargo clippy -p sample_xml &&
          cargo clippy -p test_agile &&
          cargo clippy -p test_agile_reference &&
          cargo clippy -p test_alternate_success_code &&
          cargo clippy -p test_arch &&
          cargo clippy -p test_arch_feature &&
          cargo clippy -p test_array &&
          cargo clippy -p test_bcrypt &&
          cargo clippy -p test_bstr &&
          cargo clippy -p test_calling_convention &&
          cargo clippy -p test_cfg_generic &&
          cargo clippy -p test_collections &&
          cargo clippy -p test_component &&
          cargo clippy -p test_component_client &&
          cargo clippy -p test_const_fields &&
          cargo clippy -p test_const_params &&
          cargo clippy -p test_const_ptrs &&
          cargo clippy -p test_core &&
          cargo clippy -p test_debug &&
          cargo clippy -p test_debug_inspectable &&
          cargo clippy -p test_debugger_visualizer_x &&
          cargo clippy -p test_deprecated &&
          cargo clippy -p test_dispatch &&
          cargo clippy -p test_does_not_return &&
          cargo clippy -p test_enums &&
          cargo clippy -p test_error &&
          cargo clippy -p test_event &&
          cargo clippy -p test_extensions &&
          cargo clippy -p test_handles &&
          cargo clippy -p test_helpers &&
          cargo clippy -p test_implement &&
          cargo clippy -p test_interface &&
          cargo clippy -p test_interop &&
          cargo clippy -p test_lib &&
          cargo clippy -p test_literals &&
          cargo clippy -p test_match &&
          cargo clippy -p test_matrix3x2 &&
          cargo clippy -p test_metadata &&
          cargo clippy -p test_msrv &&
          cargo clippy -p test_no_use &&
          cargo clippy -p test_not_dll &&
          cargo clippy -p test_query_signature &&
          cargo clippy -p test_readme &&
          cargo clippy -p test_reserved &&
          cargo clippy -p test_resources &&
          cargo clippy -p test_return_struct &&
          cargo clippy -p test_riddle &&
          cargo clippy -p test_simple_component &&
          cargo clippy -p test_standalone &&
          cargo clippy -p test_string_param &&
          cargo clippy -p test_structs &&
          cargo clippy -p test_sys &&
          cargo clippy -p test_targets &&
          cargo clippy -p test_unions &&
          cargo clippy -p test_wdk &&
          cargo clippy -p test_weak &&
          cargo clippy -p test_weak_ref &&
          cargo clippy -p test_win32 &&
          cargo clippy -p test_win32_arrays &&
          cargo clippy -p test_window_long &&
          cargo clippy -p test_winrt &&
          cargo clippy -p tool_core &&
          cargo clippy -p tool_gnu &&
          cargo clippy -p tool_lib &&
          cargo clippy -p tool_license &&
          cargo clippy -p tool_metadata &&
          cargo clippy -p tool_msvc &&
          cargo clippy -p tool_sys &&
          cargo clippy -p tool_windows &&
          cargo clippy -p tool_yml &&
          cargo clippy -p windows &&
          cargo clippy -p windows-core &&
          cargo clippy -p windows-implement &&
          cargo clippy -p windows-interface &&
          cargo clippy -p windows-metadata &&
          cargo clippy -p windows-sys &&
          cargo clippy -p windows-targets &&
          cargo clippy -p windows_aarch64_gnullvm &&
          cargo clippy -p windows_aarch64_msvc &&
          cargo clippy -p windows_i686_gnu &&
          cargo clippy -p windows_i686_msvc &&
          cargo clippy -p windows_x86_64_gnu &&
          cargo clippy -p windows_x86_64_gnullvm &&
          cargo clippy -p windows_x86_64_msvc