name: debugger_visualizer

on:
  pull_request:
  push:
    branches:
      - master

env:
  RUSTFLAGS: -Dwarnings --cfg windows_debugger_visualizer

jobs:
  test:
    name: Test
    runs-on: windows-2019

    strategy:
      matrix:
        include:
          - target: x86_64-pc-windows-msvc
          - target: i686-pc-windows-msvc
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Update toolchain
        run: rustup update --no-self-update nightly && rustup default nightly-${{ matrix.target }}
      - name: Add toolchain target
        run: rustup target add ${{ matrix.target }}

      - name: Test
        run: cargo test -p test_debugger_visualizer_x -- --test-threads=1
