name: debugger_visualizer

on:
  pull_request:
  push:
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
    branches:
      - master

env:
  RUSTFLAGS: --cfg windows_debugger_visualizer

jobs:
  check:
    runs-on: windows-2022

    strategy:
      matrix:
        include:
          - target: x86_64-pc-windows-msvc
          - target: i686-pc-windows-msvc
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update toolchain
        run: rustup update --no-self-update nightly && rustup default nightly-${{ matrix.target }}
      - name: Add toolchain target
        run: rustup target add ${{ matrix.target }}

      - name: Test
        run: cargo test -p test_debugger_visualizer -- --test-threads=1
