name: windows

on:
  pull_request:
  push:
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - '.web/**'
    branches:
      - master

jobs:
  check:
    strategy:
      matrix:
        rust: [1.70.0, stable, nightly]
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update toolchain
        run: rustup update --no-self-update ${{ matrix.rust }} && rustup default ${{ matrix.rust }}
      - name: Run cargo check
        run: cargo check -p test_msrv
