name: windows-bindgen

on:
  pull_request:
  push:
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - '.web/**'
    branches:
      - master

jobs:
  check:
    strategy:
      matrix:
        rust: [1.70.0, stable, nightly]
        runs-on:
          - windows-latest
          - ubuntu-latest
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare
        run: rustup update --no-self-update ${{ matrix.rust }} && rustup default ${{ matrix.rust }}
      - name: Check
        run: cargo check -p windows-bindgen --all-features
