name: slim_errors

on:
  pull_request:
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/workflows/web.yml'
      - 'web/**'
  push:
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/workflows/web.yml'
      - 'web/**'
    branches:
      - master

env:
  RUSTFLAGS: --cfg windows_slim_errors

jobs:
  slim_errors:
    strategy:
      matrix:
        include:
          - target: x86_64-pc-windows-msvc
          - target: i686-pc-windows-msvc
          - target: x86_64-pc-windows-gnu
          - target: i686-pc-windows-gnu
        runs-on:
          - windows-2025
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        
      - name: Update toolchain
        run: rustup update --no-self-update nightly && rustup default nightly-${{ matrix.target }}
        
      - name: Add toolchain target
        run: rustup target add ${{ matrix.target }}

      - name: Fix environment
        uses: ./.github/actions/fix-environment
        with:
          target: ${{ matrix.target }}
          
      - name: Test
        run: cargo test -p test_result
